{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/carrinho.css'%}">
    <title>Preço de Banana - Carrinho</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <!-- Cabeçalho -->
    <nav class="navbar navbar-expand-lg navbar-light bg-warning" style=" box-shadow: 0 4px 8px rgba(64, 170, 73, 0.323), 0 6px 20px rgba(109, 150, 101, 0.233);">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="{%url 'catalogo' %}">
                <img style="border-radius: 50%;" src="{% static 'logo2.png' %}" alt="Logo Preço de Banana" width="50"
                    height="50" class="d-inline-block align-top me-2">
                <span class="fw-bold">Preço de Banana</span>
            </a>
            <!-- Botão para colapsar o menu no mobile -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{%url 'catalogo' %}">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'catalogo' %}">Produtos</a>
                    </li>

                </ul>
                <!-- Ícone do carrinho -->
                <div class="d-flex align-items-center ms-3">
                    <a href="#" class="cart me-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"
                            class="bi bi-cart-plus-fill carrinho" viewBox="0 0 16 16">
                            <path fill="#008000"
                                d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0" />
                        </svg>
                    </a>
                    <!-- Barra de pesquisa -->
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Pesquisar produto"
                            aria-label="Search">
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <!-- Carrinho e Resumo do Pedido -->
    <main class="container mt-5">
        <div class="row">


            <!-- Lista de Produtos -->
            <section class="col-12 col-lg-8">
                <div class="product-list">
                    <!----------------------- ESTRUTURA PARA SER CRIADA DINAMICAMENTE ---------------------------------->
                    {% if produtos %}
                    {%for produto_id, produto in produtos.items %}
                    <div class="product-card mb-3 d-flex justify-content-between align-items-center p-3 rounded" style=" box-shadow: 0 4px 8px rgba(64, 170, 73, 0.276), 0 6px 20px rgba(109, 150, 101, 0.202);">
                        <div class="product-info d-flex align-items-center">
                            <div class="product-image me-3">
                                <img src="/media/{{produto.imagem}}" alt="Produto" width="80" height="80">
                            </div>
                            <div class="precocaixa">
                                <p class="mb-1 fw-bold ">Preço Caixa</p>
                                <p class="mb-2 carrinho-precocaixa">R$ {{produto.preco_por_caixa}}</p>
                            </div>
                            <div class="precoun">
                                <p class="mb-1 fw-bold ">Preço UN</p>
                                <p class="mb-2 carrinho-precoun">R$ {{produto.precoUN}}</p>
                            </div>
                            <div class="quant-carrinho">
                                <p class="mb-1 fw-bold ">Quantidade</p>
                                <p class="mb-2 carrinho-quantidade">{{produto.quantidade_na_caixa}}</p>
                            </div>
                        </div>
                        <div class="product-actions d-flex align-items-center">

                                <div class="quantidadeinput">
                                    <input type="number" oninput="validarInteiro(this)" class="form-control me-2" value="{{produto.quantidade}}"
                                    min="1" max="99"
                                    onchange="atualizaprecototal('{{produto.preco_por_caixa}}', this.value,'preco-total-{{produto_id}}', '{{produto_id}}')"
                                    style="width: 70px;">
                                </div>
                            <div class="precototal">
                                <p class="mb-1 fw-bold ">Preço total</p> <!-- ADICIONAR O VALOR DINAMICO  -->
                                <p class="mb-2 carrinho-precototal" id="preco-total-{{produto_id}}">R$
                                    {{produto.subtotal}}</p>
                            </div>
                            <div class="lixeiraicon">
                                <form action="{% url 'remove_prod_carrinho' %}" method="POST"> {% csrf_token %}
                                    <input type="hidden" name="id_produto" value="{{produto_id}}">
                                    <button type="submit" class="botaoremoveproduto">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="#ff0000"
                                            class="bi bi-trash" viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                            <path
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                        </svg>
                                    </button>

                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {%endif%}
                    <!----------------------- FIM -> ESTRUTURA PARA SER CRIADA DINAMICAMENTE ---------------------------------->


                </div>
            </section>

            <!-- Resumo do Pedido -->
            <section class="col-12 col-lg-4">
                <div style=" box-shadow: 0 4px 8px rgba(64, 170, 73, 0.634), 0 6px 20px rgba(109, 150, 101, 0.659);" class="summary-card bg-warning p-4 rounded">
                    <h2 class="mb-4 text-center">Resumo do pedido</h2>
                    <form action="{% url 'busca_cep' %}" method="POST"> {% csrf_token %}

                        <div class="mb-3">
                            <!-- FAZER AJAX PARA BUSCAR O CEP ATRAVES DO PYTHON  -->
                            <label for="cep" class="form-label">CEP</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="cep-input" name="cep-input"
                                    placeholder="Digite o CEP" required>
                                <button class="btn btn-secondary botao-input" id="buscarCepBtn"
                                    type="submit">Buscar</button>
                            </div>

                        </div>
                    </form>
                    <form action="{% url 'envia_pedido' %}" method="POST"> {% csrf_token %}
                  
                        <div class="mb-3">
                            <p>Rua: {{rua}}</p>
                            <input type="hidden" name="rua" value="{{rua}}">
                            <p >Cidade: {{cidade}}</p>
                            <input type="hidden" name="cidade" value="{{cidade}}">
                            <p >Bairro: {{bairro}}</p>
                            <input type="hidden" name="bairro" value="{{bairro}}">
                            <input type="hidden" name="quantidade" id="id-quantidade-envia-wpp">
                            <input type="hidden" name="total-dos-produtos" id="totalpreco">
                            <input type="hidden" name="total-com-frete" id="totalfrete">
                        </div>
                        <div class="mb-3">
                            <label for="complemento" class="form-label">Complemento</label>
                            <input type="text" class="form-control" id="complemento" name="complemento" placeholder="Complemento" required>
                        </div>
                        <div class="mb-3">
                            <label for="complemento" class="form-label">Numero</label>
                            <input type="text" class="form-control" id="numerocasa" name="numero" placeholder="Numero" required>
                        </div>
                        <hr>
                        <p>Total dos produtos: <strong  id="total-dos-produtos">R$ 00,00</strong></p>
                        <p style="color: rgb(254, 8, 8);">Valor do frete - COMBINAR: <strong >R$ 00,00</strong></p>
                        <p>Total da compra: <strong id="total-com-frete">R$ 00,00</strong></p>
                        <button type="submit" class="btn btn-success w-100 mt-3">Comprar</button>
                </div>
                </form>
            </section>
        </div>
    </main>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="{%static 'js/carrinho.js' %}"></script>

</body>

</html>